
.dashboardAbout {
    font-size: 15px;
    font-family: monospace;
    color: #282828;
    position: absolute;
    top: 15vh;
    margin-left: 80px;
    background-color: rgba(255,255,255,0.5);
    width: 90%;

    border-radius: 15px 100px 15px;
    padding: 30px;
} 

.box-1 {
    text-align: center;
    
}
.box-2 {
    text-align: center;
}
.box-3 h1 {
    text-align: center;
}
.box-3 {
    text-align: justify;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
}

.hr {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    width: 70%;
    border: solid 3px #71DB77;
}