.dashboard {
    position: absolute;
    top: 15vh;
    margin-left: 250px;
    background-color:rgba(255,255,255,0.5); 
    width: 80%;
    height: 80vh;
    border-radius: 15px 100px 15px;
    overflow-y: auto;
}

.ButtonsDeslog {
    margin-left: 30px; 
    padding-top: 65vh;
    /* height: 40px; */
    /* width: 100px;   */
}  

.ButtonsDash {
    padding-top: 15vh;
    margin-left: 10px; 
    min-width: 70px;  
}


