header#main-header {
    height: 60px;
    width: 150%;
    background: #282828;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
    color: white;
    display: flex;
    justify-content: left;
    align-items: left;
}
p2 {
    font-family: monospace;
    color: white;
}

#inputs {
    display: flex;
    margin-top: 15%;
    margin-left: 300px;
}

#divider{
    width:10px;
    height:auto;
    display:inline-block;
}

img {
   max-width: 100%;
   max-height: 80%;
   margin-left: 1px;
   margin-top: 3px;
}

