h2 {
    font-size: 50px;
    font-family: monospace;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

p3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#divider{
    width:30px;
    height:auto;
    display:inline-block;
}