#input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none; 
    color: rgb(39, 39, 39);
}

